@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

a {
    color: #fff !important;
}

a .active {
    background-color: blueviolet !important;
    color: aqua !important;
}

.navbar {
    width: 100%;
}
/* main {
  margin: 0 11rem 0 11rem !important;
} */

/** propaganda  */
.propaganda {
    width: 100%;
    height: 199px;
}

.propaganda > .image-propaganda {
    width: 100%;
    height: 199px;
    position: absolute;
    display: flex;
}

/* card */
.cards {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) ;
    justify-items: center !important;
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
    margin: 6rem 0 0 0;
}

.card {
    width: 256px !important;
    height: 398px !important;
    background-color: var(--white);
}

.card > .card-img-top {
    width: 200px !important;
    height: 200px !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.card-body > .card-title {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.16;
    margin: 16px 0 8px;
    color: rgb(102, 102, 102);
}

.card-text > small {
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    color: rgb(102, 102, 102);
}

.card-text-price {
    font-family: "Roboto", sans-serif;
    margin: 1rem 0 0 0;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.star {
    display: flex;
    position: relative;
    margin: 1rem 0 0 0;
    font-size: 18px;
    color: #ffc75f;
}



/** carosel  **/
.slick-track {
    max-width: 100% !important;
}

.slick-prev {
    margin: -31rem 0 0 5rem !important;
}

.slick-next {
    margin: -31rem 0 0 9rem;
    right: 0 !important;

}


.carousel.slick-initialized {
    visibility: visible;
    opacity: 1;
    max-width: 100% !important;
}

.carousel .slick-slider {
    display: none;
}

.carousel .slick-slider:first-child {
    display: block;
    visibility: hidden;
}

.carousel.slick-initialized .slick-slider {
    display: block;
    visibility: visible !important;
}