@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");


body {
    /*background-color: #e6e6e6;*/
    /*color: #fff;*/
    border-color: #666666 !important;
}

/* navbar*/

.navbar > .nav > .link .nav-link {

}


.navbar > .nav > .user {
    margin-left: 0.5rem;
    position: absolute;
}

.navbar > .nav > .name {
    margin-left: -0.9rem;
}

/*card*/

.produto {
    width: 100%;
}

.produto > .card {
    border-color: transparent;
}

.produto > .image {
    justify-content: center;
    margin: auto;
}

.produto > .card > .card-img-top {
    width: 100%;
    height: auto;
}

.produto > .description {
    width: 100%;
}

.description > .card-body > .card-title {
    font-size: 1.4rem;
    margin: -3rem 0 0 0;
}

.description > .card-body > .description {
    margin-top: 3rem;
}

.description > .card-body > .row {
    margin-left: -2rem;
}

.description > .card-body > .row > .star {
    margin-left: 1rem;
}

.description > .card-body > .row > .cod {
    font-size: 12px;
}


.description > .card-body > .row > .voltagem {
    margin-left: 1rem;
}

.description > .card-body > .compra {
    margin-left: -1rem;
}

.description > .card-body > .compra > .frete > .form-frete {
    margin: 1.5rem 0 0 0;
}

.description > .card-body > .compra > .frete >  form >label >  .input-frete {
    width: 12rem !important;
}
