@media (min-width: 2560px) {
    .produto > .card {
        width: 32% !important;
        height: 50vh !important;
        margin: 8rem 5rem 0 24rem;
        border: 1px solid rgba(0,0,0,.125) !important;
    }
    .produto > .card > .card-body >.star {
        margin-top: 2rem;
    }
    .produto > .card > .card-body >.cod {
        margin-top: 1.7rem;
    }
    .price {
        width: 17% !important;
        float: right;
        margin: -38.6rem 0 0 1.5rem;
        border-bottom-color: transparent;
    }
    .frete {
        width: 17% !important;
        float: right;
        border-top-color: transparent;
        margin: -27rem 0 0 1.5rem ;
    }

    .frete > .card-body {
        margin-top: 1.5rem;
    }
    .frete > .card-body > .form-frete > .label > .input-frete {
       height: 3rem;
    }
    .compra {
        position: relative !important;
        float: right;
        margin: -5.5rem 0 0 33rem !important;
        width: 17% !important;
        bottom: 11rem;
        z-index: 1;
        border-top-color: transparent;
        box-shadow: none;
    }
    .price, .frete, .compra {
        margin-right: 53rem !important;
    }
}


@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .produto > .card {
        width: 39% !important;
        height: 55vh !important;
        margin: 8rem 5rem 0 10rem;
        border: 1px solid rgba(0,0,0,.125) !important;
    }
    .produto > .card > .card-body >.star {
        margin-top: 2rem;
    }
    .produto > .card > .card-body >.cod {
        margin-top: 1.7rem;
    }
    .price {
        width: 40% !important;
        float: right;
        margin: -32.6rem 0 0 1.5rem;
    }
    .frete {
        width: 40% !important;
        float: right;
        border-top-color: transparent;
        margin: -21rem 0 0 1.5rem ;
    }
    .compra {
        position: relative !important;
        float: right;
        margin: 0 0 0 33rem !important;
        width: 40% !important;
        bottom: 12.8em;
        z-index: 1;
        border-top-color: transparent;
        box-shadow: none;
    }
    .price, .frete, .compra {
        margin-right: 11rem !important;
    }
}


@media (min-width: 1024px) and (max-width: 1440px) {
    .produto > .card {
        width: 49% !important;
        height: 55vh !important;
        border: 1px solid rgba(0,0,0,.125) !important;
    }
    .produto > .card > .card-body >.star {
        margin-top: 2rem;
    }
    .produto > .card > .card-body >.cod {
        margin-top: 1.7rem;
    }
    .price {
        width: 50% !important;
        float: right;
        margin: -29.6rem 0 0 1.5rem;
    }
    .frete {
        width: 50% !important;
        float: right;
        border-top-color: transparent;
        margin: -18rem 0 0 1.5rem ;
    }
    .compra {
        width: 50% !important;
        float: right;
        position: relative !important;
        margin: 0 0 0 33rem !important;
        bottom: 11.4rem;
        z-index: 1;
        border-top-color: transparent;
        box-shadow: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .produto {
        width: 50% !important;
        border-color: #666666;
    }
    .price {
        width: 50% !important;
        height: 25vh !important;
        float: right;
        margin: -26.1rem 0 0 0 ;
    }

    .frete {
        width: 50% !important;
        height: 22vh !important;
        float: right;
        border-top-color: transparent;
        margin: -13rem 0 0 0 ;

    }
    .frete > .card-body > form .input-frete {
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {

}
