@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@media (min-width: 1880px) {
    .produto {
        justify-content: space-between;
        display: flex;
        margin: 4rem 2rem 0 2rem;
    }

    .produto > .card {
        width: 50%;
        height: 55vh;
    }

    .produto > .image {
        width: 18rem;
        margin-left: 17rem;
    }

    .produto > .description {
        width: 40%;
        margin: 3rem 20rem 0 0 !important;
    }


    .description > .card-body > .compra > .frete {
        margin: -2.3rem 0 0 2rem;
    }

}


@media screen and (min-width: 1440px) and (max-width: 1879px) {
    .produto {
        justify-content: space-between;
        display: flex;
        margin: 4rem 2rem 0 2rem;
    }

    .produto > .card {
        width: 50%;
        height: 55vh;
    }

    .produto > .image {
        width: 18rem;
        margin-left: 4rem;
    }

    .produto > .description {
        width: 40%;
        margin-right: 10rem;
    }


    .description > .card-body > .compra > .frete {
        margin: -2.3rem 0 0 2rem;
    }

}


@media (min-width: 1024px) and (max-width: 1440px) {
    .produto {
        justify-content: space-between;
        display: flex;
        margin-top: 4rem;
    }

    .produto > .card {
        width: 50%;
        height: 55vh;
    }

    .produto > .image {
        width: 18rem;
        margin-left: 4rem;
    }

    .description > .card-body > .compra > .frete {
        margin: -5.3rem 0 0 14rem;
    }

}