@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@media (min-width: 2560px) {
    .navbar {
        width: 100%;
        height: 6vh;

    }

    .navbar-brand {
        font-size: 1.5rem;
        margin: 0 0 1rem 1.2rem;
    }

    .nav-link {
        font-size: 1.5rem;
    }


    .user {
        font-size: 2.4rem;
        margin-right: 1rem;
        color: var(--white);
    }

    .nav > .name {
        font-size: 1.2rem;
        color: var(--white);
        margin-right: 2rem;
    }

    .propaganda > .image-propaganda {
        width: 79%;
        height: 27%;
        margin: 4rem 8rem 0 15rem;
        max-width: 2202px;
    }

    .cards {
        grid-template-columns: repeat(6, 1fr) !important;
        grid-row-gap: 4rem;
        grid-column-gap: 1px;
        margin: 18rem 12rem 0 9rem
    }

    .card {
        width: 268px !important;
        height: 437px !important;

    }


    .cards > .links > .card > .card-body > .card-title {
        font-size: 20px !important;
    }

    .cards > .links > .card > .card-body > .star {
        position: relative;
        margin-top: 3rem;
        font-size: 22px;
    }

    .cards > .links > .card > .card-body > .card-text-price {
        margin-top: 1rem;
        font-size: 1.7rem;
    }

    .cards > .links > .card > .card-body > small {
        font-size: 1.1rem;
    }
}


@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .navbar {
        width: 100%;
        height: 6vh;
        font-size: large;
    }

    .nav > .user {
        margin: 0.1rem 1rem 0 0;
        font-size: 2.3rem;
    }

    .propaganda > .image-propaganda {
        width: 80%;
        margin: 0 12rem;
        height: 27%;
        left: 0;
        right: 0;
    }

    .cards {
        grid-template-columns: repeat(5, 1fr) !important;
        grid-column-gap: 8px;
        grid-row-gap: 4rem;
        margin: 18rem 3rem 0 3rem;
    }

    .card {
        height: 430px;

    }

    .cards > .links > .card > .card-body > .card-title {
        font-size: 17px;
    }

    .cards > .links > .card > .card-body > .star {
        position: relative;
        margin-top: 3rem;
        font-size: 20px;
    }

    .cards > .links > .card > .card-body > .card-text-price {
        margin-top: 1rem;
    }

    .cards > .links > .card > .card-body > small {
        font-size: 0.9rem;
    }
}


@media (min-width: 1024px) and (max-width: 1440px) {
    .navbar {
        width: 100%;
        font-size: large;
    }

    .nav > .link {
        margin-top: 0.5rem;
    }

    .nav > .user {
        margin: 0.1rem 1rem 0 0;
        font-size: 2.3rem;
    }

    .propaganda > .image-propaganda {
        width: 80%;
        left: 0;
        margin: 0 6rem 0 5rem;
        height: 27%;
    }

    .cards {
        grid-template-columns: repeat(4, 1fr) !important;
        grid-column-gap: 8px;
        grid-row-gap: 4rem;
        margin: 10rem 3rem 0 2rem;
    }

    .card {
        width: 213px;
        height: 410px;
    }

    .cards > .links > .card > .card-body > .card-title {
        font-size: 15px;
    }

    .cards > .links > .card > .card-body > .star {
        margin-top: 2rem;
    }

    .cards > .links > .card > .card-body > small {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        width: 100%;
        height: 7vh;
    }

    .nav > .user {
        margin: 0.1rem 1rem 0 0;
        font-size: 2.3rem;
    }

    .nav > .name {
        font-size: 1.1rem;
    }

    .nav > .link {
        font-size: 1.3rem;
    }

    .propaganda > .image-propaganda {
        width: 100%;
        height: 28%;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr) !important;
        grid-column-gap: 8px;
        margin: 18rem 3rem 0 3rem;
    }

    .links > .card {
        width: 213px !important;
    }

}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    .propaganda {
        width: 100%;
    }

    .propaganda > .image-propaganda {
        width: 100%;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-column-gap: 8px;
    }

    .links > .card {
        width: 213px !important;
    }
}